<ion-content>
  <div class="row text-center d-flex align-items-center" style="height: 100%;">
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input placeholder="email" formControlName="usuario" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" placeholder="Password" formControlName="senha" required></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block">Log in</ion-button>
            <ion-button [routerLink]="['/register']" expand="block">Criar conta</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </form>
  </div>
</ion-content>
