<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Despesas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-datetime-button datetime="datetime"></ion-datetime-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime" presentation="month-year"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let despesa of todasDespesas">
      <ion-item>
        <ion-label>
          <span>{{despesa.descricao}}</span>
          <p>{{categoria(despesa.categoriaId)}} | {{conta(despesa.contaId)}}</p>
        </ion-label>
        <ion-label slot="end" class="text-danger">{{despesa.valor | currency:'BRL'}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
          <button ion-button (click)="editaDespesa(despesa.id)">
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button (click)="apagaDespesa(despesa.id)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
