// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #416E9A;
  --ion-color-primary-rgb: 65, 110, 154;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #416E9A;
    --ion-color-primary-rgb: 65, 110, 154;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #9ab4e0;
    --ion-color-primary-tint: #b7d1ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #212529;
    --ion-background-color-rgb: 33, 37, 41;

    --ion-text-color: #DEE2E6;
    --ion-text-color-rgb: 222, 226, 230;

    --ion-color-step-50: #212529;
    --ion-color-step-100: #2b2f33;
    --ion-color-step-150: #35393d;
    --ion-color-step-200: #404347;
    --ion-color-step-250: #4a4e52;
    --ion-color-step-300: #56595d;
    --ion-color-step-350: #616468;
    --ion-color-step-400: #6c7073;
    --ion-color-step-450: #787b7e;
    --ion-color-step-500: #84878a;
    --ion-color-step-550: #909396;
    --ion-color-step-600: #9d9fa2;
    --ion-color-step-650: #a9acae;
    --ion-color-step-700: #b6b8ba;
    --ion-color-step-750: #c3c5c7;
    --ion-color-step-800: #d0d2d3;
    --ion-color-step-850: #dddfe0;
    --ion-color-step-900: #eaeced;
    --ion-color-step-950: #f8f9fa;

    --ion-item-background: #343A40;
    --ion-toolbar-background: #343A40;
    --ion-card-background: #343A40;
  }

  .ios ion-modal {
    --ion-background-color: #212529;
    --ion-toolbar-background: #343A40;

    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #212529;
    --ion-background-color-rgb: 33, 37, 41;

    --ion-text-color: #DEE2E6;
    --ion-text-color-rgb: 222, 226, 230;

    --ion-border-color: #222222;

    --ion-color-step-50: #212529;
    --ion-color-step-100: #2b2f33;
    --ion-color-step-150: #35393d;
    --ion-color-step-200: #404347;
    --ion-color-step-250: #4a4e52;
    --ion-color-step-300: #56595d;
    --ion-color-step-350: #616468;
    --ion-color-step-400: #6c7073;
    --ion-color-step-450: #787b7e;
    --ion-color-step-500: #84878a;
    --ion-color-step-550: #909396;
    --ion-color-step-600: #9d9fa2;
    --ion-color-step-650: #a9acae;
    --ion-color-step-700: #b6b8ba;
    --ion-color-step-750: #c3c5c7;
    --ion-color-step-800: #d0d2d3;
    --ion-color-step-850: #dddfe0;
    --ion-color-step-900: #eaeced;
    --ion-color-step-950: #f8f9fa;

    --ion-item-background: #343A40;

    --ion-toolbar-background: #343A40;

    --ion-tab-bar-background: #343A40;

    --ion-card-background: #343A40;
  }
}

ion-content{
  font-family: Montserrat !important;
  width: calc(100% + 15px);
}

.spanTitle {
  color: var(--ion-color-step-600);
  font-weight: bold;
  font-size: 14px;
}

ion-content::part(scroll) {
  padding-right: 15px;
}

.c3-chart-arc path {
  stroke: none !important;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: flex;
}
.fab-vertical-bottom {
  bottom: 25px;
}
.fab-horizontal-center {
    margin-left: unset;
    margin-inline-start: -25px !important;
}
